.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.MetamaskButton {
  background-color: darkslateblue;
  border-radius: 2rem;
  border: none;
}

.MetamaskButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:larger;
  color: white;
  padding: 0.4rem 1rem;
}

.MetamaskLogo {
  height: 35px;
  text-align: center;
  margin-left: 0.2rem;
}